<div class="banner-show" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url(<%= cl_image_path(@list.photo.key) %>); background-position: center; object-fit: cover;">
    <%# <% image_path = cl_image_path @list.photo.key %>
    <%# <%= cl_image_tag(@list.photo.key) %> 
    <h1 class="text-white fw-bold" style="font-size: 3em;"><%= @list.name.capitalize %></h1>
    <span class="badge-moviecount badge bg-warning"><%= @list.movies.count %> movies bookmarked</span>
</div>            
<div class="container py-4">

    <div class="d-flex justify-content-between align-items-center">    
        <span class="d-block"><%= raw("<h3 class='text-danger'>You don't have any movies yet!</h3>") if @list.movies.empty? %></span>
        <%= render "shared/movie_button" %>
    </div>

    <% if !@list.movies.empty?%>
    <div class="row mt-3 gap-3 gx-0">

                <% @list.movies.each do |movie| %>
                <% bookmark = Bookmark.find_by(list: @list, movie: movie) %>
                
                <div class="card col-md-4 col-sm-10 p-0 shadow rounded-3">
                    <img class="card-image-top" style="height: 200px; object-fit: cover;" src="<%= movie.poster_url %>"/>                         
                    <div class="card-body bg-white">
                        <h4><%= movie.title %> • <%= movie.rating.round(1) %><i class="fa-solid fa-star fa-sm" style="color: yellow;"></i></h4>
                        <p class="fst-italic"><%= movie.overview.truncate(100) %></p>
                        <hr>
                        <p><i class="fa-solid fa-quote-left"></i>  <%= bookmark.comment %></p>
                        <%= link_to raw('<span><i class="fa-regular fa-trash-can"></i>  Delete</span>'), bookmark_path(bookmark), data: { turbo_method: :delete, turbo_confirm: "Delete movie?"},
                            class: "text-decoration-none" %>
                    </div>
                </div>
                <% end %>

    </div>
    <% end %>
    <hr>

    <div class="row">

        <div class="col-md-6 col-sm-12">
            <!-- Display reviews in 1/2 of parent container on large scr., full width on mobile -->
            <h3>Reviews</h3>
            <% if !@list.reviews.empty? %>
                <% @list.reviews.each do |r| %>
                    <div class="border-bottom mt-3 me-3">
                        <p><% r.rating.times do %>
                            <i class="fa-solid fa-star" style="color: gold;"></i>
                            <% end %>
                            <small class="text-muted fst-italic"><%= distance_of_time_in_words_to_now(r.created_at) %> ago</small>
                        </p>
                        <p class="fw-medium"><%= r.comment %></p>
                    </div>
                <% end %>
            <% else %>
                <h3 class="text-warning">(No reviews yet!)</h3>
            <% end %>
        </div>
        <!-- Display new review form in 1/2 of parent container on large scr., full width on mobile -->
        <div class="col-md-6 col-sm-12 bg-white rounded p-3" style="min-height: 300px; max-height: 300px;">
            <h4>Add your review</h4>
            <%= simple_form_for [@list, @review] do |review| %>
                <%= review.input :comment, placeholder: "Add your review here…" %>
                <%= review.input :rating, as: :select, collection: (1..5), required: true, selected: 5 %>
                <%= review.submit class: "btn btn-primary rounded" %>
            <% end %>            
        </div>
    </div>

    <hr>
    <div class="row justify-content-center">
        <div class="col-md-6 col-sm-12 bg-white rounded p-3">
                <h4>Add a movie</h4>
                <%= simple_form_for [@list, @bookmark] do |l| %>
                    <%= l.input :comment, placeholder: "Enter movie comment" %>
                    <%= l.association :movie, prompt: "Choose a movie" %>
                    <%= l.submit class: "btn btn-primary rounded" %>
                <% end %>
        </div>
    </div>
</div>